<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key ="DBConStringSteffePC" value="Data Source=STEFFE-PC\SQLEXPRESS; Initial Catalog=PicDB; Integrated Security=SSPI"/>
  <add key ="DBConStringSteffeLaptop" value="Data Source=STEFFE\SQLEXPRESS; Initial Catalog=PicDB; Integrated Security=SSPI"/>
  <add key ="DBConStringFeJo" value="Data Source=DESKTOP-DIN7DPC\SQLEXPRESS; Initial Catalog=PicDB; Integrated Security=SSPI"/>
  <add key ="DeployPathSteffePC" value="C:\Users\Steffe\Desktop\FH\4.Semester\PDB3\"/>
  <add key ="DeployPathSteffeLaptop" value="C:\Users\Stefan\Desktop\FH\4.Semester\PDB3\"/>
  <add key ="DeployPathFeJo" value="O:\GIT\SWE2\SWE2-CS"/>
</appSettings>